header {
    width: 85%;
    height: 80vh;
    margin: 40px auto;
    z-index: -100;
    position: relative;
    background-image:url("src/assets/pictures/real pic/WhatsApp Image 2025-02-13 at 15.36.29_c6e81e12.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}

header .hero-text{
    height:auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);  
    position: absolute; 
    padding: 10px;
    bottom: 60px;
    left: 7%;
}
header div h2{
    font-weight: 100;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'abril fatface' , serif;
}
header div p{
    font-weight: 100;
    font-size: 25px;
}
.gradientbackgraound{
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.782),rgba(0, 0, 0, 0)) ;border-radius: 15px;
}
