.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 55px ;
    width: 80%;
    padding-left: 5px;
    padding-right: 10px;
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgb(165, 165, 165);
    border: solid 0.10rem rgb(225, 225, 225);
    z-index: 999;
    
    

}

.navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center; 

    img{
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
    }
    h1{
        color: #9e7d5f;
        margin-bottom: 3px;
        font-weight: 400;
    }
}
.contact-btn{
    background-color:#9e7d5f;
    border-radius: 50px;
    font-weight: 900;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px 3px;



    
    p{
        color:white;

    }
}
