/* best font for this site */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

    /* font-family: "Roboto Slab", serif; */
    /* font-family: "outfit", serif; */
    font-family: "Abril Fatface", serif;


    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

  :root{
    --brown:#522b2b;
    --beage:#C18C10;
    --lightbeage:#e6c068;
    --yellow:#FBFF00;
    --blue:#cbeef3;
    --black:#171A1C;
    --white:#fff4e7;

  }

  body{
    background-color: #fef9ef;
    color: #000000;
    overflow-x: hidden;
    /* padding: 0 70px; */
  }


